body {
  background-color: #FAF4C0;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.name {
  text-align: center;
  color: #000066;
  background-color: #FAF4C0;
  font-size: 10px;
  font-weight: bold;
  width: 80%;
  padding: 5px;
  border-radius: 8px;
  border: 4px solid #000066;
  margin: 5px auto;
}
.att {
  text-align: center;
  color: #663300;
  background-color: #FAF4C0;
  font-size: 10px;
  font-weight: bold;
  width: 80%;
  padding: 5px;
  border-radius: 8px;
  border: 4px solid #663300;
  margin: 5px auto;
}
